.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-base: grey;
    -fx-background: rgb(105, 47, 47);

}

.button{ 
    -fx-background-color: black;
    -fx-text-fill: white;
} 

.unique{
    /* -fx-text-fill: black; */
    -fx-background-color: black;
}

.projectTitle{
    -fx-text-fill: Red;
}
